@charset "utf-8";
#headline {
	position: absolute;
	top: 153px;
	left: 5%;
	text-shadow: 2px 2px 10px #BBB5B5;
}
#headline_2 {
	position: absolute;
	top: 320px;
	left: 5%;
	text-shadow: 2px 2px 10px #BBB5B5;

}
#headline_3 {
	position: absolute;
	top: 489px;
	left: 5%;
	text-shadow: 2px 2px 10px #BBB5B5;

}
#headline_4 {
	position: absolute;
	top: 662px;
	left: 5%;
	text-shadow: 2px 2px 10px #BBB5B5;

}
a :hover {
	color: gold
}
#link_list  {
	position: absolute;
	top: 221px;
	left: 10%;
	font-family: Century;
	font-style: italic;
	text-shadow: 2px 2px 10px #BBB5B5;

}
#link_list_2 {
	position: absolute;
	top: 385px;
	left: 10%;
	font-family: Century;
	font-style: italic;
	text-shadow: 2px 2px 10px #BBB5B5;

}
#link_list_3  {
	position: absolute;
	top: 565px;
	left: 10%;
	font-family: Century;
	font-style: italic;
	text-shadow: 2px 2px 10px #BBB5B5;

}
#link_list_4  {
	position: absolute;
	top: 747px;
	left: 10%;
	font-family: Century;
	font-style: italic;
	text-shadow: 2px 2px 10px #BBB5B5;

}
#media_list {
	position: absolute;
	top: 685px;
	background-image: -webkit-linear-gradient(178deg,rgba(173,224,232,1.00) 0%,rgba(0,195,255,1.00) 100%);
	background-image: -moz-linear-gradient(178deg,rgba(173,224,232,1.00) 0%,rgba(0,195,255,1.00) 100%);
	background-image: -o-linear-gradient(178deg,rgba(173,224,232,1.00) 0%,rgba(0,195,255,1.00) 100%);
	background-image: linear-gradient(272deg,rgba(173,224,232,1.00) 0%,rgba(0,195,255,1.00) 100%);
	border-radius: 15px;
	list-style-type: none;
	-webkit-box-shadow: 3px 3px 9px 1px #524F4F;
	box-shadow: 3px 3px 9px 1px #524F4F;
	left: 60%;
}
#node_list {
	position: absolute;
	top: 208px;
	background-image: -webkit-linear-gradient(178deg,rgba(236,43,43,1.00) 0%,rgba(224,88,88,1.00) 100%);
	background-image: -moz-linear-gradient(178deg,rgba(236,43,43,1.00) 0%,rgba(224,88,88,1.00) 100%);
	background-image: -o-linear-gradient(178deg,rgba(236,43,43,1.00) 0%,rgba(224,88,88,1.00) 100%);
	background-image: linear-gradient(272deg,rgba(236,43,43,1.00) 0%,rgba(224,88,88,1.00) 100%);
	border-radius: 15px;
	list-style-type: none;
	-webkit-box-shadow: 3px 3px 9px 1px #524F4F;
	box-shadow: 3px 3px 9px 1px #524F4F;
	left: 60%;
}
#index_image {
	min-width: 1000px;
	opacity: 0.2;
	top: 165px;
	position: absolute;
	left: 26px;
}

#recent_nodes {
	position: absolute;
	top: 155px;
	left: 60%;
	width: 244px;
}

#media_orgs {
	position: absolute;
	left: 60%;
	top: 625px;
	width: 324px;
}
.buttons{
	display: none
}

@media only screen and (max-width : 1000px) {
.responsive {
	position: absolute;
	right: 357px;
}

	.buttons{
	display: block
}
	#link_list{
	display: none;	
	}
	#link_list_2{
	display: none;	
	}
	#link_list_3{
	display: none;	
	}
	#link_list_4{
	display: none;	
	}
	#headline{
		max-width: 600px;
	
	}	
	#headline_2{
		max-width: 600px;
	
	}	
	#headline_3{
		max-width: 600px;
	
	}	
	#headline_4{
		max-width: 600px;
	
	}	

	
}
