@charset "utf-8";
#headline {
	position: absolute;
	top: 149px;
	left: 24%;
	font-family: Century;
	font-size: xx-large;
}
#node_img {
	width: 674px;
	height: 808px;
	position: absolute;
	top: 240px;
	left: 375px;
	opacity: 0.2;
}
#my_take {
	width: 600px;
	position: absolute;
	top: 245px;
	left: 417px;
	font-family: Century;
	font-size: large;
}
.link_list {
	position: absolute;
	top: 247px;
	left: 3%;
	background-color: #F91219;
	width: 253px;
	min-width: 253px;
	border-radius: 34px;
	max-width: 300px;
	min-height: 107px;
	max-height: 207px;
	overflow-y: auto;
	height: 207px;

}

a li:hover {
	color: gold
}
a li {
	font-style: italic;
	font-size: large;
}
#video {
	position: absolute;
	top: 553px;
	font-family: Century;
	font-weight: bold;
	right: 29%;
	font-size: xx-large;
}
#video_embed {
	top: 335px;
	position: absolute;
	right: 8%;
	padding-left: 20px;
}
#video_list {
	position: absolute;
	top: 627px;
	right: 18%;
	font-family: Century;
	font-size: large;
	background-color: #F3F912;
	min-width: 250px;
	border-radius: 34px;
	min-height: 89px;
	max-height: 175px;
	overflow-y: auto;

}
#academic {
	position: absolute;
	top: 614px;
	left: 9%;
	font-family: Century;
	font-weight: bold;
}

#sources {
	font-family: Century;
	font-weight: bold;
	position: absolute;
	top: 197px;
	left: 9%;
	font-size: x-large;
}
#wikipedia {
	font-family: Century;
	font-weight: bold;
	position: absolute;
	top: 460px;
	left: 9%;
}
.wikipedia_list{
	position: absolute;
	top: 503px;
	left: 3%;
	background-color: #0E55FF;
	width: 253px;
	min-width: 253px;
	border-radius: 34px;
	max-width: 300px;
	min-height: 107px;
	overflow-y: auto;
	height: 104px;
	max-height: 104px;

}

.academic_list{
	position: absolute;
	top: 663px;
	left: 3%;
	background-color: #00A317;
	width: 253px;
	min-width: 253px;
	border-radius: 34px;
	max-width: 300px;
	min-height: 107px;
	max-height: 100px;
	overflow-y: auto;
	height: 100px;

}

#nodes_title {
	font-family: Century;
	font-weight: bold;
	position: absolute;
	top: 780px;
	left: 9%;
}

.node_list{
	position: absolute;
	top: 828px;
	left: 3%;
	background-color: #C700DB;
	width: 253px;
	min-width: 253px;
	border-radius: 34px;
	max-width: 300px;
	min-height: 107px;
	max-height: 175px;
	overflow-y: auto;

}


@media only screen and (max-width : 1200px) {

	#headline{
	position: absolute;
	left: 33%;
	}
	#video_embed {
	position: absolute;
	top: 1013px;
	left: 0em;
}
	#video_list{
	position: absolute;
	left: 24px;
	top: 1252px;
	width: 255px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	}
#video {
	position: absolute;
	left: 9%;
	top: 929px;
}

#my_take {
	width: 319px;
	font-size: x-large
}
#video_embed {
	position: absolute;
	right: 0%;
}


}
@media only screen and (max-width : 1000px) {
	#headline{
		position: absolute;
		left: 300px
	}
	#my_take{
	position: absolute;
	left: 350px;
	width: 400px;
	max-height: 750px;
	overflow-y: auto;
	font-size: x-large		
	}
	#video_embed {
	position: absolute;
	top: 1013px;
	left: 0em;
}
	#video_list{
	position: absolute;
	left: 24px;
	top: 1252px;
	width: 255px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	}
#video {
	position: absolute;
	left: 9%;
	top: 929px;
}

	#node_img{
	position: absolute;
	left: 225px	
	}
}
