@charset "utf-8";
#headline {
	position: absolute;
	top: 149px;
	left: 24%;
	font-family: Century;
	font-size: xx-large;
}
#node_img {
	width: 674px;
	height: 808px;
	position: absolute;
	top: 240px;
	left: 375px;
	opacity: 0.2;
}
#my_take {
	width: 600px;
	position: absolute;
	top: 245px;
	left: 446px;
	font-family: Century;
	font-size: large;
}
.link_list {
	position: absolute;
	top: 247px;
	left: 3%;
	background-color: #F91219;
	width: 253px;
	min-width: 253px;
	border-radius: 34px;
	max-width: 300px;
	min-height: 107px;
	max-height: 207px;
	overflow-y: auto;
	height: 207px;

}

a li:hover {
	color: gold
}
a li {
	font-style: italic;
	font-size: large;
	right: auto;
}
#video {
	position: absolute;
	top: 553px;
	font-family: Century;
	font-weight: bold;
	right: 8%;
	font-size: xx-large;
}
#video_embed {
	top: 335px;
	position: absolute;
	right: 2%;
	padding-left: 20px;
}
#video_list {
	position: absolute;
	top: 627px;
	right: 2%;
	font-family: Century;
	font-size: large;
	background-color: #F3F912;
	min-width: 250px;
	border-radius: 34px;
	min-height: 89px;
	max-height: 175px;
	overflow-y: auto;

}
#academic {
	position: absolute;
	top: 614px;
	left: 9%;
	font-family: Century;
	font-weight: bold;
}

#sources {
	font-family: Century;
	font-weight: bold;
	position: absolute;
	top: 197px;
	left: 9%;
	font-size: x-large;
}
#wikipedia {
	font-family: Century;
	font-weight: bold;
	position: absolute;
	top: 460px;
	left: 9%;
}
.wikipedia_list{
	position: absolute;
	top: 503px;
	left: 3%;
	background-color: #0E55FF;
	width: 253px;
	min-width: 253px;
	border-radius: 34px;
	max-width: 300px;
	min-height: 107px;
	overflow-y: auto;
	height: 104px;
	max-height: 104px;

}

.academic_list{
	position: absolute;
	top: 663px;
	left: 3%;
	background-color: #00A317;
	width: 253px;
	min-width: 253px;
	border-radius: 34px;
	max-width: 300px;
	min-height: 107px;
	max-height: 100px;
	overflow-y: auto;
	height: 100px;

}

#nodes_title {
	font-family: Century;
	font-weight: bold;
	position: absolute;
	top: 780px;
	left: 9%;
}

.node_list{
	position: absolute;
	top: 828px;
	left: 3%;
	background-color: #C700DB;
	width: 253px;
	min-width: 253px;
	border-radius: 34px;
	max-width: 300px;
	min-height: 107px;
	max-height: 175px;
	overflow-y: auto;

}

@media only screen and (max-width : 1500px) {
	
	#video_embed {
	position: absolute;
	top: 1072px;
	left: 0%;
}
	#video_list{
	position: absolute;
	left: 0%;
	top: 1314px;
	width: 255px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	}
#video {
	position: absolute;
	left: 9%;
	top: 992px;
}

	
}

@media only screen and (max-width : 1200px) {

	#headline{
	position: absolute;
	left: 33%;
	}
.link_list{
	font-size: x-large;
}
.node_list{
	font-size: x-large;
}
.wikipedia_list{
	font-size: x-large;
}
.academic_list{
	font-size: x-large;000000
}
.video_list{
	font-size: x-large;
}
	
#my_take {
	width: 505px;
	font-size: x-large;
}
#video_embed {
	position: absolute;
	right: 0%;
	top: 1072px;
}


}
@media only screen and (max-width : 1000px) {
	#headline{
		position: absolute;
		left: 300px
	}
	#my_take{
	position: absolute;
	left: 350px;
	width: 400px;
	max-height: 750px;
	overflow-y: auto;
	font-size: x-large		
	}
	#video_embed {
	position: absolute;
	top: 1013px;
	left: 0em;
}
	#video_list{
	position: absolute;
	left: 24px;
	top: 1252px;
	width: 255px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	}
#video {
	position: absolute;
	left: 9%;
	top: 929px;
}

	#node_img{
	position: absolute;
	left: 225px	
	}
}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in mauris eget metus fermentum feugiat porta in velit. Nulla facilisi. Fusce vestibulum lectus posuere ante molestie, egestas aliquet leo consectetur. Donec ut posuere quam, eu accumsan elit. Nunc eget lectus a lacus viverra tincidunt nec quis turpis. Pellentesque vulputate sagittis est at mollis. Aliquam consequat iaculis vulputate. Nulla eget sem sed elit dictum pulvinar. Aliquam laoreet sagittis condimentum. Morbi mattis aliquam nisl, eget eleifend urna volutpat a. Nullam maximus vel odio non congue. Cras vel faucibus tellus, id viverra mi. Nunc et nisi a elit volutpat accumsan at nec lectus. Aenean accumsan, ligula a malesuada pretium, sapien lectus faucibus nibh, sed scelerisque lacus nisi eu felis. Nam laoreet sodales leo, sed placerat ante.

Vestibulum hendrerit fermentum sem at euismod. Sed hendrerit libero vel urna mattis luctus. In pellentesque mattis sem, vitae posuere mi aliquam sit amet. Donec mollis libero a lacus placerat tincidunt. Fusce auctor vulputate lorem, ac ultricies dui sodales id. Etiam volutpat sagittis neque, quis eleifend diam convallis eget. Mauris feugiat consequat neque, egestas gravida metus convallis egestas. Integer aliquam mollis magna, vel dignissim ex suscipit ut. Proin turpis mauris, dictum eu metus ac, fringilla bibendum massa. Aliquam ullamcorper aliquet lacus, sed feugiat tellus porta eget. Fusce ex nulla, laoreet a hendrerit ac, accumsan id massa.

Vestibulum cursus maximus libero, quis sagittis dolor volutpat egestas. Duis tincidunt leo nec nibh tempus posuere. Pellentesque non tincidunt leo. Nunc non facilisis ante, ac lobortis orci. Donec sollicitudin semper malesuada. Morbi in lacus sed lectus fermentum eleifend. Donec ut ornare leo. Praesent malesuada ullamcorper dolor ac pharetra. Sed justo purus, pretium eget scelerisque nec, vulputate et elit. Vestibulum tincidunt, urna et porttitor dignissim, orci eros pellentesque arcu, in porta ipsum elit vel nunc. Vestibulum id convallis sem. In et enim velit. Donec risus tellus, ornare vitae sapien vitae, dignissim lobortis erat. Curabitur nisi tellus, fringilla fringilla elit consectetur, pharetra porttitor neque. Curabitur pellentesque ultrices turpis sed tristique.

Aenean et purus dapibus, tincidunt neque et, porta eros. Vestibulum blandit pharetra leo. Fusce dignissim eleifend nulla, id rhoncus magna consequat vel. In hac habitasse platea dictumst. Cras ac semper urna. Mauris consectetur purus eget dui tristique commodo. Vivamus lobortis dignissim lorem, quis efficitur tellus eleifend eu. Ut malesuada leo nec lacinia congue. Mauris facilisis scelerisque egestas. Aliquam porttitor augue quis est finibus feugiat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec egestas ex vitae urna malesuada, scelerisque dictum augue suscipit. Phasellus auctor ante sapien, iaculis eleifend eros malesuada vel.

Mauris rhoncus tellus sit amet mauris euismod, vel imperdiet erat posuere. Pellentesque id tempus ante. Donec viverra blandit sem, eget sagittis ex rutrum eget. Mauris feugiat sed purus vitae auctor. Nam porta finibus odio, at aliquet justo. Aliquam dapibus placerat dolor id cursus. Mauris condimentum, nulla eget efficitur commodo, turpis ipsum auctor elit, sed pharetra libero dolor vel neque. Phasellus vulputate, ligula a aliquet tristique, massa nisl pulvinar sapien, in blandit magna dui non eros. Proin ac arcu sollicitudin, commodo nibh id, blandit ipsum. In aliquet risus vitae est venenatis hendrerit. Etiam pellentesque eu lorem vel elementum. Ut ac magna eget massa dignissim auctor in at elit.
