@charset "utf-8";
.bodynavul {
	list-style-image: none;
	list-style-type: none;
	display: inline-block;
}

#NN_Logo {
	top: -3px;
	left: -39px;
	position: absolute;
	margin: 20px;
	float: left;
	display: block;
	width: 201px;
	height: 71px;
}

#Med_Dir {
	position: absolute;
	left: 24%;
	top: 46px;
	font-family: Century;
	font-style: normal;
	font-weight: 700;
	font-size: x-large;
	text-shadow: 0 0 0;
	right: 17%;
}
#Node_Dir {
	position: absolute;
	left: 56%;
	top: 41px;
	color: rgba(0,0,0,1.00);
	font-family: Century;
	font-style: normal;
	font-weight: 700;
	font-size: x-large;
	text-shadow: 0 0 0;
	text-decoration: none;
	right: 27%;
	min-width: 289px;
	z-index: 1;
}
#searchbar {
	position: absolute;
	left: 939px;
	top: 72px;
}
#about {
	position: absolute;
	top: 41px;
	color: rgba(0,0,0,1.00);
	font-family: Century;
	font-style: normal;
	font-weight: 700;
	font-size: x-large;
	text-shadow: 0 0px 0;
	right: 0%;
	width: auto;
}
#nav_menu {
	float: right;
	padding: 20px;
	width: 140px;
	height: 89px;
	z-index: 2;
	position: absolute;
	top: 7px;
	left: 155px;
	display: none
	

}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(file:///D|/Google%20Drive/NodaNews/img/menu-icon.png) center;
}
#banner {
	position: absolute;
	top: 77px;
	width: 100%;
	left: 0px;
	overflow-x: hidden;
	min-width: 1400px;
}
#node_main {
	position: absolute;
	top: 183px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	left: 1247px;
}
#node_main:hover {
	transform:scale(1.1,1.1)	
}
#line_1 {
	position: absolute;
	top: 239px;
	left: 858px;
	display: inline;
	rotation: 20deg;
}
#line_2 {
	position: absolute;
	top: 374px;
	left: 860px;
}
#line_3 {
	position: absolute;
	top: 234px;
	left: 811px;
}

#link_list {
	position: absolute;
	top: 236px;
	left: -3px;
	color: rgba(0,0,0,1.00);
	font-family: Century;
	font-style: normal;
	font-weight: 400;
	font-size: medium;
	width: 397px;
	background-image: -webkit-linear-gradient(270deg,rgba(179,107,3,1.00) 0%,rgba(255,150,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(179,107,3,1.00) 0%,rgba(255,150,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(179,107,3,1.00) 0%,rgba(255,150,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(179,107,3,1.00) 0%,rgba(255,150,0,1.00) 100%);
	text-decoration: none;
	text-align: left;
	border-radius: 45px;
	-webkit-box-shadow: 7px 0px 39px rgba(0,0,0,1.00);
	box-shadow: 7px 0px 39px rgba(0,0,0,1.00);
	text-transform: none;
	list-style-image: none;
	list-style-position: inside;
	list-style-type: none;
	height: 345px;
	overflow-y: scroll;
}
#link_list a:hover{
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-color: rgba(251,255,125,0.50);
}
.link_1 {
	text-decoration: none;
	color: rgba(0,0,0,1.00);
	background-color: rgba(0,126,2,0.50);
	border-radius: 15px;
}
.link_2 {
	background-color: rgba(95,126,1,0.52);
	border-radius: 15px;
}
.link_3 {
	background-color: rgba(139,79,2,0.38);
	border-radius: 15px;
}
.link_4 {
	background-color: rgba(177,8,10,0.55);
	border-radius: 15px;
}
#headline {
	position: absolute;
	top: 157px;
	left: 265px;
	font-family: Century;
	font-style: normal;
	font-weight: 700;
	color: rgba(0,0,0,1.00);
	font-size: 44px;
	font-variant: small-caps;
	min-width: 870px;
	text-shadow: 1px 1px 1px;
}

#mini_node_1 {
	position: absolute;
	top: 313px;
	z-index: 1;
	left: 1157px;
}
#mini_node_2 {
	position: absolute;
	top: 514px;
	z-index: 1;
	left: 1162px;
}
#headline_2 {
	position: absolute;
	top: 273px;
	left: 1033px;
	color: rgba(0,0,0,1.00);
	font-family: Century;
	font-style: normal;
	font-weight: 700;
	font-variant: small-caps;
	font-size: large;
	overflow-x: visible;
	min-width: 448px;
}
#headline_3 {
	position: absolute;
	top: 477px;
	left: 1139px;
	color: rgba(0,0,0,1.00);
	font-style: normal;
	font-family: Century;
	font-weight: 700;
	font-size: large;
	font-variant: small-caps;
	min-width: 269px;
}

.nav_menu_dropdown {
    position: relative;
    display: inline-block;
}


.nav_menu_dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	top: 115px;
	left: 170px;
	right: 62px;
	z-index: 2;
}

/* Links inside the dropdown */
.nav_menu_dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: Century;
	font-style: normal;
	font-weight: 400;
}

/* Change color of dropdown links on hover */
.nav_menu_dropdown-content a:hover {
	background-color: #ECF7B0
}

/* Show the dropdown menu on hover */
.nav_menu_dropdown:hover .nav_menu_dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.nav_menu_dropdown:hover #nav_menu {
	
}

#small_hline_1 {
	font-family: Century;
	font-style: normal;
	font-size: x-large;
	position: absolute;
	top: 305px;
	font-variant: small-caps;
	text-shadow: 1px 1px 1px;
	left: 19.9%;
	min-width: 121px;
	max-width: 964px;
	background-size: cover;
	text-align: justify;
	float: left;
	background-repeat: no-repeat;
}
#small_hline_2 {
	font-family: Century;
	font-style: normal;
	font-size: x-large;
	position: absolute;
	top: 382px;
	font-variant: small-caps;
	text-shadow: 1px 1px 1px;
	left: 18%;
}
#hline_1 {
	position: absolute;
	top: 369px;
	left: 738px;
}
#hline_2 {
	position: absolute;
	top: 445px;
	left: 584px;
}
#small_hline_3 {
	font-family: Century;
	font-style: normal;
	font-size: x-large;
	position: absolute;
	top: 455px;
	font-variant: small-caps;
	text-shadow: 1px 1px 1px;
	left: 7%;
}
#hline_3 {
	position: absolute;
	top: 510px;
	left: 402px;
}
#small_hline_4 {
	font-family: Century;
	font-style: normal;
	font-size: x-large;
	position: absolute;
	top: 522px;
	font-variant: small-caps;
	text-shadow: 1px 1px 1px;
	left: 2%;
}
#hline_4 {
	position: absolute;
	top: 581px;
	left: 243px;
}
#new_nodes {
	font-family: Century;
	font-style: normal;
	font-weight: 700;
	font-size: xx-large;
	position: absolute;
	top: 428px;
	font-variant: small-caps;
	text-shadow: 1px 1px 1px;
	left: 1308px;
	min-width: 229px;
}
#new_node_1 {
	position: absolute;
	top: 522px;
	left: 1322px;

}
#new_node_1:hover {
	transform:scale(1.1,1.1)
}
#new_node_2 {
	position: absolute;
	top: 692px;
	left: 1322px;
	z-index: 1;
}
#new_node_2:hover {
	transform:scale(1.1,1.1)
}
#new_node_3 {
	position: absolute;
	top: 860px;
	left: 1322px;
	z-index: 1;
}
#new_node_3:hover {
	transform:scale(1.1,1.1)
}
#new_node_line_1 {
	position: absolute;
	top: 598px;
	left: 1124px;
	z-index: -1;
}
#new_node_line_2 {
	position: absolute;
	top: 771px;
	left: 1124px;
}
#new_node_line_3 {
	position: absolute;
	left: 1124px;
	top: 930px;
}
#new_node_title_1 {
	font-family: Century;
	font-style: normal;
	font-size: large;
	position: absolute;
	top: 587px;
	font-variant: small-caps;
	text-shadow: 1px 1px 1px;
	left: 853px;
	min-width: 360px;
	overflow-x: hidden;
}
#new_node_title_2 {
	font-family: Century;
	font-style: normal;
	font-size: large;
	position: absolute;
	top: 753px;
	font-variant: small-caps;
	text-shadow: 1px 1px 1px;
	left: 781px;
	min-width: 360px;
	overflow-x: hidden;
}
#new_node_title_3 {
	font-family: Century;
	font-style: normal;
	font-size: large;
	position: absolute;
	top: 914px;
	font-variant: small-caps;
	text-shadow: 1px 1px 1px;
	left: 874px;
	min-width: 360px;
	overflow-x: hidden;
}






















@media only screen and (max-width : 1000px) {
#nav_menu {

		display:inline-block;
		visibility:visible

	}

#Med_Dir{
	display:none
}
#about{
		display
		:none
}
#Node_Dir{
		display:none
}

	.bodynavul { 

		display:none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	.bodynavul:hover a .nav_menu{

		display: block;
		
	}
	#new_node_line_1{
	display:none
}
#new_node_line_2{
	display:none
}
#new_node_line_3{
	display:none
}	
#hline_1 {
	display:none
}
#hline_2 {
	display:none
}
#hline_3 {
	display:none
}
#hline_4 {
	display:none
}
#small_hline_1 {
	position: absolute;
	left: 92px;
	max-width: 330px;
	font-size: large;
}
#small_hline_2 {
	position: absolute;
	left: 92px;
max-width: 330px;
	font-size: large;
}
#small_hline_3 {
	position: absolute;
	left: 92px;
max-width: 330px;
	font-size: large;
}
#small_hline_4 {
	position: absolute;
	left: 92px;
max-width: 330px;
	font-size: large;
}
#line_1{
	display:none
}
#node_main {
	position: absolute;
	top: 264px;
	left: 700px;
}
#new_node_title_1 {
	position: absolute;
	top: 611px;
	left: 673px;
	min-width: 360px;
	font-family: Century;
}
#new_node_title_2 {
	position: absolute;
	top: 810px;
	left: 609px;
	min-width: 468px;
	font-family: Century;
}
#new_node_title_3 {
	position: absolute;
	top: 1003px;
	left: 673px;
}
#new_node_1 {
	position: absolute;
	top: 652px;
	left: 667px;
	z-index: 1;
}
#new_node_2 {
	position: absolute;
	top: 851px;
	left: 667px;
}
#new_node_3 {
	position: absolute;
	top: 1046px;
	left: 667px;
}
#new_nodes {
	position: absolute;
	left: 656px;
	top: 541px;
}
#headline{
	min-height: 0px;
	min-width: 1000px;
}
#new_node_2 {
	position: absolute;
	top: 849px;
}

}
