@charset "utf-8";
.bodynavul {
	list-style-image: none;
	list-style-type: none;
	display: inline-block;
}
#NN_Logo {
	top: -18px;
	left: -10px;
	position: absolute;
	margin: 20px;
	float: left;
	display: block;
}

#Med_Dir {
	position: absolute;
	left: 24%;
	top: 46px;
	font-family: courier-prime;
	font-style: normal;
	font-weight: 700;
	font-size: x-large;
	text-shadow: 0 0 0;
	right: 17%;
}
#Node_Dir {
	position: absolute;
	left: 56%;
	top: 48px;
	color: rgba(0,0,0,1.00);
	font-family: courier-prime;
	font-style: normal;
	font-weight: 700;
	font-size: x-large;
	text-shadow: 0 0 0;
	text-decoration: none;
	right: 27%;
	min-width: 289px;
}
#searchbar {
	position: absolute;
	left: 939px;
	top: 72px;
}
#about {
	position: absolute;
	top: 54px;
	color: rgba(0,0,0,1.00);
	font-family: courier-prime;
	font-style: normal;
	font-weight: 700;
	font-size: x-large;
	text-shadow: 0 0px 0;
	right: 0%;
	width: auto;
}
#nav_menu {
	float: right;
	padding: 20px;
	width: 140px;
	height: 89px;
	z-index: 2;
	position: absolute;
	top: 7px;
	left: 155px;
	display: none
	

}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(file:///D|/Google%20Drive/NodaNews/img/menu-icon.png) center;
}
#banner {
	position: absolute;
	top: 77px;
	width: 100%;
	left: 0px;
}
#node_main {
	position: absolute;
	top: 193px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	left: 449px;
}
#line_1 {
	position: absolute;
	top: 514px;
	left: 849px;
	display: inline;
	rotation: 20deg;
}
#line_2 {
	position: absolute;
	top: 374px;
	left: 860px;
}
#line_3 {
	position: absolute;
	top: 234px;
	left: 811px;
}

#link_list {
	position: absolute;
	top: 236px;
	left: -3px;
	color: rgba(0,0,0,1.00);
	font-family: courier-prime;
	font-style: normal;
	font-weight: 400;
	font-size: medium;
	width: 397px;
	background-image: -webkit-linear-gradient(270deg,rgba(179,107,3,1.00) 0%,rgba(255,150,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(179,107,3,1.00) 0%,rgba(255,150,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(179,107,3,1.00) 0%,rgba(255,150,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(179,107,3,1.00) 0%,rgba(255,150,0,1.00) 100%);
	text-decoration: none;
	text-align: left;
	border-radius: 45px;
	-webkit-box-shadow: 7px 0px 39px rgba(0,0,0,1.00);
	box-shadow: 7px 0px 39px rgba(0,0,0,1.00);
	text-transform: none;
	list-style-image: none;
	list-style-position: inside;
	list-style-type: none;
	height: 345px;
	overflow-y: scroll;
}
#link_list a:hover{
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-color: rgba(251,255,125,0.50);
}
.link_1 {
	text-decoration: none;
	color: rgba(0,0,0,1.00);
	background-color: rgba(0,126,2,0.50);
	border-radius: 15px;
}
.link_2 {
	background-color: rgba(95,126,1,0.52);
	border-radius: 15px;
}
.link_3 {
	background-color: rgba(139,79,2,0.38);
	border-radius: 15px;
}
.link_4 {
	background-color: rgba(177,8,10,0.55);
	border-radius: 15px;
}
#headline {
	position: absolute;
	top: 92px;
	left: 226px;
	font-family: courier-prime;
	font-style: normal;
	font-weight: 700;
	color: rgba(0,0,0,1.00);
	font-size: 44px;
	font-variant: small-caps;
	min-width: 870px;
}
#mytake {
	position: absolute;
	top: 587px;
	width: 400px;
	height: 500px;
	overflow-y: scroll;
	text-align: left;
	color: rgba(0,0,0,1.00);
	font-family: courier-prime;
	font-style: normal;
	font-weight: 400;
	text-transform: none;
	-webkit-box-shadow: 5px 5px 25px rgba(0,0,0,1.00);
	box-shadow: 5px 5px 25px rgba(0,0,0,1.00);
	left: 23px;
	border: 10px solid rgba(203,203,203,1.00);
	background-color: rgba(232,232,232,1.00);
	overflow-x: hidden;
}
#comment {
	position: absolute;
	top: 802px;
	left: 526px;

}
#comment_box {
	width: 226px;
	height: 81px;
}
#mini_node_1 {
	position: absolute;
	top: 313px;
	z-index: 1;
	left: 1157px;
}
#mini_node_2 {
	position: absolute;
	top: 514px;
	z-index: 1;
	left: 1162px;
}
#headline_2 {
	position: absolute;
	top: 273px;
	left: 1033px;
	color: rgba(0,0,0,1.00);
	font-family: courier-prime;
	font-style: normal;
	font-weight: 700;
	font-variant: small-caps;
	font-size: large;
	overflow-x: visible;
	min-width: 448px;
}
#headline_3 {
	position: absolute;
	top: 477px;
	left: 1139px;
	color: rgba(0,0,0,1.00);
	font-style: normal;
	font-family: courier-prime;
	font-weight: 700;
	font-size: large;
	font-variant: small-caps;
	min-width: 269px;
}

.nav_menu_dropdown {
    position: relative;
    display: inline-block;
}


.nav_menu_dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	top: 115px;
	left: 170px;
	right: 62px;
	z-index: 2;
}

/* Links inside the dropdown */
.nav_menu_dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: courier-prime;
	font-style: normal;
	font-weight: 400;
}

/* Change color of dropdown links on hover */
.nav_menu_dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.nav_menu_dropdown:hover .nav_menu_dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.nav_menu_dropdown:hover #nav_menu {
	
}
@media only screen and (max-width : 1000px) {
#nav_menu {

		display:inline-block;
		visibility:visible

	}
#Med_Dir{
	display:none
}
#about{
		display
		:none
}
#Node_Dir{
		display:none
}

	.bodynavul { 

		display:none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	.bodynavul:hover a .nav_menu{

		display: block;
		

	}

	
}
