/* Dropdown Button */
.seconddropbtn {
	background-color: #07940A;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 242px;
	left: 1253px;
	z-index: 2;
	font-family: courier-prime;
	font-style: normal;
	font-weight: 400;
	border-radius: 15px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,1.00);
	box-shadow: 2px 2px 5px rgba(0,0,0,1.00);
	max-width: 127px;
	min-width: 127px;
}

/* The container <div> - needed to position the dropdown content */
.seconddropdown {
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.seconddropdown-content {
	display: none;
	background-color: #f9f9f9;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
	position: absolute;
	top: 235px;
	left: 1380px;
}

/* Links inside the dropdown */
.seconddropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: courier-prime;
	font-style: normal;
	font-weight: 400;
}

/* Change color of dropdown links on hover */
.seconddropdown-content a:hover {background-color: #F5F3AF}

/* Show the dropdown menu on hover */
.seconddropdown:hover .seconddropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.seconddropdown:hover .seconddropbtn {
	background-color: #057407;
}
