<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Noda News</title>
{% load static from staticfiles %}
<link href="{% static 'css_style_sheets/nav.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/media_org.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
	<header>
		<nav>
			<a href="www.nodanews.com"><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"/></a>
   			<a href="www.nodanews.com/node_dir"><p id="node_dir">Node Directory</p></a>
    		<a href="www.nodanews.com/media_dir"><p id="media_dir">Media Org. Directory</p></a>
    		<a href="www.nodanews.com/about"><p id="about">About Noda News</p></a>
    		<div class="nav_menu_dropdown">		
   				<img src="{% static 'images/elements/Nav_menu-01.png' %}" class="nav_menu" alt=""/>
   				<div class="nav-content">
					<a href="http://www.nodanews.com/node_dir">Node Directory</a>
					<a href="http://www.nodanews.com/media_dir">Media Org. Directory</a>
					<a href="http://www.nodanews.com/about">About Noda News</a>
				</div>
			</div>
	    </nav>
		
    <img src="{% static 'images/elements/banner_yellow.svg' %}" alt="" id="banner"/>
    </header>		
	<h1 id="title">About Noda News</h1>
	<p id="description">This is the description of Noda News.</p>

</body>
</html>
