<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Noda News</title>
{% load static from staticfiles %}
<link href="{% static 'css_style_sheets/nav.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/about.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>
</head>

<body>
	<header>
		<nav>
			<a href="http://www.nodanews.com"><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></a>
			<a href="http://www.twitter.com/NodanewsContact"<img src="{% static 'images/elements/twitter-128.png' %}" alt="" id="twitter"></a>
			<a href="http://www.facebook.com/nodanews"<img src="{% static 'images/elements/fb-art.png' %}" alt="" id="facebook"></a>
   			<a href="http://www.nodanews.com/node_dir"><p id="node_dir">Node Directory</p></a>
    		<a href="http://www.nodanews.com/media_dir"><p id="media_dir">Media Org. Directory</p></a>
    		<a href="http://www.nodanews.com/about"><p id="about">About Noda News</p></a>
    		<div class="nav_menu_dropdown">		
   				<img src="{% static 'images/elements/Nav_menu-01.png' %}" class="nav_menu" alt="">
   				<div class="nav-content">
					<a href="http://www.nodanews.com/node_dir">Node Directory</a>
					<a href="http://www.nodanews.com/media_dir">Media Org. Directory</a>
					<a href="http://www.nodanews.com/about">About Noda News</a>
				</div>
			</div>
	    </nav>
    <img src="{% static 'images/elements/banner_yellow.svg' %}" alt="" id="banner">
    </header>		
	<h1 id="title">About Noda News</h1>
	<h3 id="description">NodaNews is an independent, nonprofit news organization that hopes to bring objective reporting to a variety of global issues. I believe that we cannot look at news stories in a vacuum, and I feel that conventional news articles do not provide adequate context to their stories. Every event that occurs is related to something else that happened. To understand global events, you have to understand global trends and history.<br> 
My goal is to provide a reference to the most important stories of the day at the homepage, and then I will dive deeper into events in what I call a “Node”.<br> 
My second goal is to examine where our news comes from. If we really want to be informed, we cannot rely on one news source. To get a clear picture of what is going on, we have to do our own investigation. News organizations are prone to bias, special interest, or plain deception. I will do my best to profile as many media organizations as I can in the process of developing this project.<br>
I am not a web-designer, but I insisted on doing everything myself, so excuse the amateurish website.<br> 
If you want to learn more about me, please visit my website www.p-morel.video <br>
For questions about NodaNews, please email contact@nodanews.com <br>
<br>
Thank you, <br>
<br>
Philippe
</h3>
	<footer>
		<h4 id="footer">Questions? Comments? Any content you want to share with me?<br>Please send everything to contact@nodanews.com</h4>
	</footer>
</body>
</html>
