<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Noda News</title>
<link href="../../static/css_style_sheets/nav.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header>
		<nav>
			<a href="www.nodanews.com"><img src="../../static/images/elements/nn_logo_horizontal.svg" alt="" id="logo"/></a> 
			<a href="www.nodanews.com/node_dir"><p id="node_dir">Node Directory</p></a>
    		<a href="www.nodanews.com/media_dir"><p id="media_dir">Media Org. Directory</p></a>
    		<a href="www.nodanews.com/about"><p id="about">About Noda News</p></a>
	    </nav>
    <img src="../../static/images/elements/banner_orange.svg" alt="" id="banner"/> 
    </header>		
	<div>
	
	</div>

</body>
</html>
