<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta keywords="nodanews, noda news, news, noda">
<title>Noda News</title>


<link href="../../static/CSS Style Sheets/Dropdowns/S1_Dropdown_1.css" rel="stylesheet" type="text/css">
<link href="../../static/CSS Style Sheets/Dropdowns/S2_Dropdown_1.css" rel="stylesheet" type="text/css">

<link href="../../static/CSS Style Sheets/Dropdowns/S4_Dropdown_1.css" rel="stylesheet" type="text/css">
<link href="../../static/CSS Style Sheets/Dropdowns/Dropdown_1.css" rel="stylesheet" type="text/css">
<link href="../../static/CSS Style Sheets/Responsive Navigation.css" rel="stylesheet" type="text/css">
<link href="../../static/CSS Style Sheets/Dropdowns/Dropdown_2.css" rel="stylesheet" type="text/css">
<link href="../../static/CSS Style Sheets/Dropdowns/Dropdown_3.css" rel="stylesheet" type="text/css">
<link href="../../static/CSS Style Sheets/.home.css" rel="stylesheet" type="text/css">
<link href="../../static/CSS Style Sheets/Dropdowns/S3_Dropdown_1.css" rel="stylesheet" type="text/css">
</head>

<body>
<header>
<a href="http://www.nodanews.com"><img src="../../images/logos/NN_Logo_Horizontal-01.svg" alt="" id="NN_Logo"/></a>
<nav>

<div class="nav_menu_dropdown">
 <img src="static/images/Icons/Nav_Menu.png" alt="" width="456" height="304"id="nav_menu"/>
 <div class="nav_menu_dropdown-content">
    <a href="http://www.nodanews.com/node-dir">Node Directory</a>
    <a href="http://www.nodanews.com/about">About Noda News</a>
  </div>
</div>
<ul class="bodynavul">
<li id="Node_Dir"><a href="http://www.nodanews.com/node-dir" id="node_dir" style="text-decoration:none; color: #000000"> Node Directory</a></li> 
<li id="about"><a href="http://www.nodanews.com/about" style="text-decoration:none; color: #000000">About Noda News</a></li>
</ul>
</nav>

<img src="static/images/Banner.png" alt="" width="1366" height="56" id="banner"/>
</header>
<div id="body">
<div id="feedControl">Loading...</div>
</div>
<p id="headline">IS THERE A BETTER WAY?</p>
<img src="static/images/Shape_22.png" alt="" width="466" height="113" id="line_1"/>
<a href="http://www.nodanews.com/node-dir/us-elections.html"><img src="static/images/nodes/us-election.png" width="184" height="222" alt="" id="node_main"/></a>
<p id="small_hline_1">SOUTHE KOREA'S PRESIDENT CONTINUES TO SPIRAL</p>
<img src="Images/Line_6-1.png" width="381" height="44" alt="" id="hline_1"/>
<div class="s1dropdown">
  <button class="s1dropbtn">LEARN MORE</button>
  <div class="s1dropdown-content">
    <a href="http://english.yonhapnews.co.kr/national/2016/11/08/82/0301000000AEN20161108001455315F.html" target="_blank">PARLIAMENT TO ASSIGN NEW PM</a>
    <a href="http://www.japantimes.co.jp/news/2016/11/08/asia-pacific/politics-diplomacy-asia-pacific/koreas-park-indicates-willing-relinquish-power-amid-scandal/#.WCJHxPkrKUk" target="_blank">PARK RELINQUISHES MORE POWER</a>
    <a href="http://www.koreaexpose.com/voices/choi-soon-sil-gate-sad-political-drama/" target="_blank">WHO IS CHOI SOON SIL?</a>
  </div>
</div>
<p id="small_hline_2">BRITISH COURT MAY BLIOCK BREXIT</p>
<img src="Images/Line_6-1.png" width="381" height="44" alt="" id="hline_2"/>
<div class="s2dropdown">
  <button class="s2dropbtn">LEARN MORE</button>
  <div class="s2dropdown-content">
    <a href="http://www.bbc.com/news/uk-politics-37857785" target="_blank">HIGH COURT DEAL BLOW TO BREXIT</a>
    <a href="https://www.theguardian.com/commentisfree/2016/nov/06/high-court-ruling-brexit-not-sabotaging-parliamentary-democracy-best-deal-britain" target="_blank">"PARLIAMENT IS SOVERIGN!"</a>
    <a href="http://www.nationalreview.com/article/441865/brexit-high-court-ruling-lisbon-treaty-article-50-parliament-remain" target="_blank">ATTEMPT TO DERAIL BREXIT?</a>
  </div>
</div>
<p id="small_hline_3">SOCIAL MEDIA AND POLITICS</p>
<img src="Images/Line_6-1.png" width="381" height="44" id="hline_3" alt=""/>
<div class="s3dropdown">
  <button class="s3dropbtn">LEARN MORE</button>
  <div class="s3dropdown-content">
    <a href="http://www.politico.com/magazine/story/2015/09/2016-election-social-media-ruining-politics-213104" target="_blank">HOW SOCIAL MEDIA IS RUINING POLITICS</a>
    <a href="http://fisherpub.sjfc.edu/cgi/viewcontent.cgi?article=1050&context=ur" target="_blank">EFFECT OF SOCIAL MEDIA AND POLITICS</a>
    <a href="http://cnets.indiana.edu/groups/nan/truthy/visualizing-the-political-discourse-on-twitter/" target="_blank">VISUALIZING POLITICAL DISCOURSE ON TWITTER</a>
  </div>
</div>
<p id="small_hline_4">MOSUL OFFENSIVE CONTINUES</p>
<img src="Images/Line_6-1.png" width="381" height="44" alt="" id="hline_4"/>
<div class="s4dropdown">
  <button class="s4dropbtn">LEARN MORE</button>
  <div class="s4dropdown-content">
    <a href="https://www.theguardian.com/world/2016/nov/07/kurdish-forces-enter-town-near-mosul-as-iraqi-troops-find-mass-grave" target="_blank">KURDISH FORCES DISCOVER MASS GRAVE OUTSIDE MOSUL</a>
    <a href="http://rudaw.net/english/kurdistan/07112016" target="_blank">PESHMERGA LIBERATE BASHIQA</a>
    <a href="http://www.independent.co.uk/news/world/middle-east/isis-mosul-us-turkey-raqqa-offensive-iraq-partnership-plan-a7402881.html" target="_blank">US AND TURKEY LOOK AHEAD TO RAQQA</a> 
    </div>
</div>
<p id="new_nodes">NEW NODES</p>
<a href="/node-dir/ivory-coast-new-constitution.html"><img src="Images/nodes/Ivory-coast-constituion-01-01.png" width="138" height="167" alt="" id="new_node_1"/></a>
<a href="/node-dir/corruption-in-the-philippines.html"><img src="Images/ai/Corruption in the philippines-01.svg" width="138" height="167" alt="" id="new_node_2"/></a>
<a href="/node-dir/bayer-buys-monsanto.html"><img src="Images/ai/Main_node _Bayer_eats_Monsanto.svg" width="138" height="167" alt="" id="new_node_3"/></a>
<img src="Images/Line_3.png" width="237" height="30" alt="" id="new_node_line_1"/>
<img src="Images/Line_3.png" width="237" height="30" alt="" id="new_node_line_2"/>
<img src="Images/Line_3.png" width="237" height="30" alt="" id="new_node_line_3"/>
<p id="new_node_title_1">IVORY COAST'S NEW CONSTITUTION</p>
<p id="new_node_title_2">CORRUPTION IN THE PHILIPPINES</p>
<p id="new_node_title_3">BAYER BUYS MONSANTO</p>

</body>
</html>
