<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{node.headline}}</title>
{% load static from staticfiles %}
<link href="{% static 'css_style_sheets/nav.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/node.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}"rel='shortcut icon'>
</head>

<body>
		<nav>
			<a href="http://www.nodanews.com"><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></a>
			<a href="http://www.twitter.com/NodanewsContact"<img src="{% static 'images/elements/twitter-128.png' %}" alt="" id="twitter"></a>
			<a href="http://www.facebook.com/nodanews"<img src="{% static 'images/elements/fb-art.png' %}" alt="" id="facebook"></a>
   			<a href="http://www.nodanews.com/node_dir"><p id="node_dir">Node Directory</p></a>
    		<a href="http://www.nodanews.com/media_dir"><p id="media_dir">Media Org. Directory</p></a>
    		<a href="http://www.nodanews.com/about"><p id="about">About Noda News</p></a>
    		<div class="nav_menu_dropdown">		
   				<img src="{% static 'images/elements/Nav_menu-01.png' %}" class="nav_menu" alt="">
   				<div class="nav-content">
					<a href="http://www.nodanews.com/node_dir">Node Directory</a>
					<a href="http://www.nodanews.com/media_dir">Media Org. Directory</a>
					<a href="http://www.nodanews.com/about">About Noda News</a>
				</div>
			</div>
	    </nav>
    <img src="{% static 'images/elements/banner_red.svg' %}" alt="" id="banner"> 
<h1 id="headline">{{node.headline}}</h1>
	<h2 id="related">Related to <a href="http://www.nodanews.com/node_dir/{{node.node_direc.id}}">{{node.node_direc}}</a></h2>
<div class="hotness">
	{% if node.hotness == 1 %}
   	<p id="red"> </p>
   	{% endif %}
   	{% if node.hotness == 2 %}
    <p id="yellow"> </p>
    {% endif %}
	{% if node.hotness == 3 %}
    <p id="blue"> </p>
    {% endif %}
    {% if node.hotness == 4 %}
    <p id="green"> </p>
    {% endif %}
	</div>
<img src="{% static 'images/elements/side banner.png' %}" width="200" height="2600" alt="" id="side_banner"/>
<img src="https://nodastorage.s3.amazonaws.com/media/{{node.head_image}}" id="image_1" alt=""/>
<p id="my_take">{{node.my_take|linebreaksbr}}</p>
	{% for perspective, links in perspective.items %}
	<div class="perspective">
		<h2 class="heading">{{perspective.name}}</h2>
			{% for link in links %}
		<ul class="link_list">	
			<li class="link"><a href="{{link.link_url}}" style="text-decoration: none;color: black" target="_blank"><h3 class="link">{{link.link_title}}<a href="{{link.media_org_url}}" style="text-decoration: none;color: orange" target="_blank"> -- {{link.media_org}}</a></h3></a></li>
		</ul>
			{% endfor %}
	</div>
	{% endfor %}	
<div id="videos">
<iframe class="video_embed" width="420" height="236" src="{{node.video_embed_1}}" frameborder="0" allowfullscreen></iframe>
<iframe class="video_embed" width="420" height="236" src="{{node.video_embed_2}}" frameborder="0" allowfullscreen></iframe>
<iframe class="video_embed" width="420" height="236" src="{{node.video_embed}_3}" frameborder="0" allowfullscreen></iframe>
<img src="https://nodastorage.s3.amazonaws.com/media/{{node.foot_image}}" id="image_2" alt=""/>
	</div>
</body>
</html>
