	
{% extends 'node.html' %}

{% block academic %}
    {% if link.attribute is 'Academic' %}
				<li>
					<a href="{{link.link_url}}" target="_blank" style="text-decoration:none; color: #000000"><h4>{{link.title_1}}</h4></a>
				</li>
				<li>
					<a href="{{link.link_url_2}}" target="_blank" style="text-decoration:none; color: #000000"><h4>{{link.title_2}}</h4></a>
				</li>
				<li>
					<a href="{{link.link_url_3}}" target="_blank" style="text-decoration:none; color: #000000"><h4>{{link.title_3}}</h4></a>
				</li>
				<li>
					<a href="{{link.link_url_4}}" target="_blank" style="text-decoration:none; color: #000000"><h4>{{link.title_4}}</h4></a>
				</li>
				<li>
					<a href="{{link.link_url_5}}" target="_blank" style="text-decoration:none; color: #000000"><h4>{{link.title_5}}</h4></a>
				</li>
				<li>
					<a href="{{link.link_url_6}}" target="_blank" style="text-decoration:none; color: #000000"><h4>{{link.title_6}}</h4></a>
				</li>
				<li>
					<a href="{{link.link_url_7}}" target="_blank" style="text-decoration:none; color: #000000"><h4>{{link.title_7}}</h4></a>
				</li>
				<li>
					<a href="{{link.link_url_8}}" target="_blank" style="text-decoration:none; color: #000000"><h4>{{link.title_8}}</h4></a>
				</li>
				<li>
					<a href="{{link.link_url_9}}" target="_blank" style="text-decoration:none; color: #000000"><h4>{{link.title_9}}</h4></a>
				</li>
				<li>
					<a href="{{link.link_url_10}}" target="_blank" style="text-decoration:none; color: #000000"><h4>{{link.title_10}}</h4></a>
				</li>
		{% else %}	
{% endblock %}		
