<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Noda News</title>
{% load static from staticfiles %}
<link href="{% static 'css_style_sheets/nav.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/node_dir.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>
</head>

<body>
	<header>
		<nav>
			<a href="http://www.nodanews.com"><img src="{% static 'images/elements/nn_logo_horizontal.svg' %}" alt="" id="logo"></a>
			<a href="http://www.twitter.com/NodanewsContact"<img src="{% static 'images/elements/twitter-128.png' %}" alt="" id="twitter"></a>
			<a href="http://www.facebook.com/nodanews"<img src="{% static 'images/elements/fb-art.png' %}" alt="" id="facebook"></a>
   			<a href="http://www.nodanews.com/node_dir"><p id="node_dir">Node Directory</p></a>
    		<a href="http://www.nodanews.com/media_dir"><p id="media_dir">Media Org. Directory</p></a>
    		<a href="http://www.nodanews.com/about"><p id="about">About Noda News</p></a>
    		<div class="nav_menu_dropdown">		
   				<img src="{% static 'images/elements/Nav_menu-01.png' %}" class="nav_menu" alt="">
   				<div class="nav-content">
					<a href="http://www.nodanews.com/node_dir">Node Directory</a>
					<a href="http://www.nodanews.com/media_dir">Media Org. Directory</a>
					<a href="http://www.nodanews.com/about">About Noda News</a>
				</div>
			</div>
	    </nav>
    <img src="{% static 'images/elements/banner_red.svg' %}" alt="" id="banner">
    </header>
  	<div>
		<h1 id="title">Node Directory</h1>
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Node titles..">
	</div>  		
	
	<div>	
		<ul id="node_list">
			{% for node in nodes %}
				<li>
					<a href="{{node.id}}" target="_blank" style="text-decoration:none; color: #000000"><h2>{{node.headline}}</h2></a>
					<h3 style="font-style: italic; font-weight: bold">{{node.subject}}/{{node.country}}</h3>
				</li>
			{% endfor %}
		</ul>
	</div>
<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("node_list");
    li = ul.getElementsByTagName('li');

   
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
		<footer>
			<a href="http://twitter.com/NodanewsContact" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
			<a href="https://www.facebook.com/nodanews" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
		</footer>
</body>
</html>
