@charset "utf-8";
#name {
	font-family: Century;
	font-size: xx-large;
	position: absolute;
	top: 152px;
	left: 30%;
}
#media_org_logo {
	position: absolute;
	top: 187px;
	left: 5%;
	max-width: 300px;
}
#description {
	width: 600px;
	position: absolute;
	top: 215px;
	left: 35%;
	font-family: Century;
}

@media only screen and (max-width : 1000px) {

	#media_org_logo{
		max-width: 200px
			
	}
}
