@charset "utf-8";
#title {
	position: absolute;
	top: 136px;
	font-family: Century;
	left: 25%;
}
.media_list {
	position: absolute;
	top: 201px;
	background-image: -webkit-linear-gradient(178deg,rgba(173,224,232,1.00) 0%,rgba(0,195,255,1.00) 100%);
	background-image: -moz-linear-gradient(178deg,rgba(173,224,232,1.00) 0%,rgba(0,195,255,1.00) 100%);
	background-image: -o-linear-gradient(178deg,rgba(173,224,232,1.00) 0%,rgba(0,195,255,1.00) 100%);
	background-image: linear-gradient(272deg,rgba(173,224,232,1.00) 0%,rgba(0,195,255,1.00) 100%);
	left: 25%;
	border-radius: 15px;
	list-style-type: none;
	-webkit-box-shadow: 3px 3px 9px 1px #524F4F;
	box-shadow: 3px 3px 9px 1px #524F4F;

}
a :hover {
	color: gold
}

.media_org_logo {
	float: left;
	width: 200px;
	height: 100px;
	position: absolute;
	left: -203px;
	top: 0%;
	display: none;
}
li:hover .media_org_logo {
	display: block
}
